.treeclick
{
	border: none;
	text-decoration: none;
	vertical-align: top;
	color: #333333;
	cursor: pointer;
	margin-bottom: 2px;
	margin-top: 4px;
	background-image:url(img/folder.gif);
	background-repeat:no-repeat;
	text-indent:18px;
}

.treediv
{
	display:none;
	margin-left:1em;
	margin: 0px;
}

.treeleaf
{
	margin: 0px;
	white-space : nowrap;
	background-image:url(img/file.gif);
	background-repeat:no-repeat;
	text-indent:18px;
	margin:1px;
}

a.treelink
{
	text-decoration:none;
	color:black;
}
a:hover.treelink 
{
	text-decoration: underline;
	color:black;
}

.treesection
{
	display:none;
	margin-left:18px;
}

.code
{
	color:Navy;
	font-family:Courier New,Arial;
	font-size:1em;
	background-color:#EEEEEE;
	padding-left:6px;
	padding-top:2px;
	padding-bottom:2px;
}

